.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: #202020;
  padding: 1rem;
  padding-top: 0.5rem;
  align-items: center;
  color: white;
  margin: 0px;
}

.btncategory {
  border-radius: 3rem;
}
.search-icon-div {
  padding: 2px;
  background-color: "white";
}

.search-box {
  width: 80vh;
}

.logo-div {
  margin-right: 1rem;
}

.upload-button-div {
  margin-left: 1rem;
}
.search {
  min-width: 24rem;
  position: relative;
  left: 2rem;
}

.search-mobile {
  display: block !important;
}

.search-desktop {
  display: none !important;
}

.arrow-icon {
  padding-right: 10px;
  padding-bottom: 2px;
}

.upload-button {
  color: #4ca3fc;
}

.search-field.Mui-focusVisible {
  border-color: gray;
}

@media screen and (min-width: 768px) {
  .search-mobile {
    display: none !important;
  }
  .search-desktop {
    display: block !important;
  }
}
